.content,
.content__heading,
.content__subheading {
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-size: 0;
}

@media screen and (max-width: 900px) {
  .content {
      margin-top: 40px;
      padding: 0;
      margin-bottom: 20px;
  }
}